@model IdeaViewModel

<h1> Add idea: </h1>

<form asp-controller="ideas" asp-action="Insert" method="post">
    <div class="row">
        <div class="col-md-3">
            <input asp-for="Title"
                   type="text"
                   placeholder="Title"
                   class="form-control" 
                   required 
                   maxlength="100"/>
        </div>
        <div class="col-md-3">
            <input asp-for="Description"
                   type="text"
                   placeholder="Description"
                   class="form-control" 
                   required />
        </div>
    </div>

    <button type="submit" class="btn btn-success">Create</button>
</form>